site_name: The Foundry Way
site_description: 'Defence Digital Foundry'
site_author: 'DDS'
docs_dir: docs/
repo_name: 'defencedigital/dds-way'
repo_url: 'https://github.com/defencedigital/the-foundry-way'
nav:
    - The Foundry Way: index.md
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
